VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyD5fBqIxuYC97vd4LiEYi_IUGgBgQqa5K4
VITE_FIREBASE_AUTH_DOMAIN=aidocs-55593.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aidocs-55593
VITE_FIREBASE_STORAGE_BUCKET=aidocs-55593.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=39748393307
VITE_FIREBASE_APP_ID=1:39748393307:web:50c75f1f38c0692dbb227e
